/* App */

#app {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* Navbar */

nav {
  height: 80px;
}

nav a {
  margin: 0 1em;
}

form {
  min-width: 50%;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: #753ebd;
}

a:hover {
  border-bottom: 1px solid;
}

nav a:first-child:hover {
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* Welcome Section */

.product-item {
  width: 20%;
  margin: 1rem;
}

.product-item img {
  width: 100%;
}

.all-products-items {
  display: flex;
  flex-wrap: wrap;
}
.all-products {
  margin-top: 1.5rem;
}

/* Banner */

.container img {
  width: 100%;
  height: auto;
}

<<<<<<< HEAD
/* Product title bar */
.product-title-bar {
  display: flex;
  justify-content: space-between;
}

.form-category {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.drowdown-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

=======
/* Single product detail */
.horizontal-flex {
  display: flex;
  flex-direction: row;
}

#single-item {
  margin: 1rem;
  padding: 1rem;
  justify-content: space-around;
}

#item-info {
  margin-left: 1rem;
}

/* Back to Top Section */
#back-to-top {
  text-align: center;
  background-color: lightgray;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.review {
  background-color: lightgray;
}


>>>>>>> master
/* Back to Top */
#back-to-top {
  padding: 1rem 0;
  background-color: slategrey;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: steelblue;
  padding: 1rem;
}

#back-to-top {
  text-align: center;
  width: 100%;
}
