/* App */

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* Font Sizes */

h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h5 {
  font-size: 1.75rem;
}

/* Navbar */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 1em 1em;
  padding: 0 1em;
}

form {
  min-width: 50%;
  max-width: 50%;
}

a {
  text-decoration: none;
  color: #753ebd;
}

a:hover {
  border-bottom: 1px solid;
}

nav a:first-child:hover {
  border: none;
}

#logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 1em;
}

.right-side {
  display: flex;
  justify-content: space-around;
}

.searchbar {
  display: flex;
  align-items: center;
}

.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar label {
  margin: 0 1rem;
}

.searchbar input {
  margin-right: 1rem;
}

/* Welcome Section */

#welcome {
  width: 100vw;
  align-items: center;
  margin: 0;
}

.product-item {
  width: 20%;
  margin-top: 1rem;
}

.product-item img {
  width: 100%;
}

.all-products-items {
  display: flex;
  flex-wrap: wrap;
}
.all-products {
  padding-top: 1rem;
}

/* Banner */
.jumbotron {
  background-color: white;
  margin-bottom: 0;
}


.jumbotron .container {
  width: 100vw;
}

.jumbotron img {
  width: 100%;
  height: auto;
}

/* Product title bar */
.product-title-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.form-bar {
  display: flex;
  justify-content: flex-end;
}

.form-category {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.drowdown-category {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Single product detail */
.horizontal-flex {
  display: flex;
  flex-direction: row;
}

#single-item {
  margin: 1rem;
  padding: 1rem;
  justify-content: space-around;
}

#item-info {
  margin-left: 1rem;
}

#price-cart {
  display: flex;
  flex-direction: column;
}

/* Add To Cart */
.add-to-cart select {
  width: 40px;
}

.add-to-cart button {
  margin-left: 1rem;
  width: 100px;
  text-align: center;
}

.add-to-cart .form-group {
  display: flex;
}

.add-to-cart label {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.add-to-cart p {
  margin: 0;
  font-size: 1.5rem;
}

.add-to-cart .form-control {
  width: 60px;
  margin-left: 1rem;
}

/* Back to Top Section */
#back-to-top {
  text-align: center;
  background-color: lightgray;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#back-to-top a {
  color: whitesmoke;
}

.review {
  background-color: lightgray;
}

* My Cart */
.cart {
  display: flex;
  flex-direction: column;
}

.cart .title-head {
  display: flex;
  align-items: baseline;
}

.cart .title-head p {
  font-size: 1.75rem;
}

.cart-item {
  padding: 1.5rem 0;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;

}

.cart-item .main {
  display: flex;
  justify-content: flex-start
}

.cart-item-body {
  display: flex;
  flex-direction: column;
}

.cart-img-disp {
  display: flex;
}

.cart-product-name {
  display: flex;
  flex-wrap: wrap;
}

.cart .delete {
  width: 100vw;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
}

/* Back to Top */
#back-to-top {
  padding: 1rem 0;
  background-color: slategrey;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: steelblue;
  padding: 1rem;
}

#back-to-top {
  text-align: center;
  width: 100%;
}
